body {
    background-image: url("../../../assets/images/cake/sale1.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.admin__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* SideBar */
.sidebar {
    position: absolute;
    left: 0;
    top: 55px;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13%;
    overflow: hidden;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    border: 1px solid var(--primary);
    border-left: none;
}
.sidebar .admin {
    height: 30%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .admin .admin__info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    gap: 20px;
}
.sidebar .admin .admin__info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.sidebar .admin .admin__info figcaption {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--primary);
}
.sidebar .admin .admin__info figcaption h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}
.sidebar .admin .admin__info figcaption p {
    font-family: 'Lobster Two', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}
.sidebar .admin .admin__info figcaption button {
    padding: 15px 30px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    border-radius: 30px;
    transition: 0.3s;
}
.sidebar .admin .admin__info figcaption button:hover {
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.9), rgba(0, 255, 255, 0.5));
    color: #000;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
    transform: scale(1.09);
}
.sidebar .sidebar__info {
    height: 70%;
    width: 100%;
}
.sidebar .sidebar__info ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 0 0;
    width: 100%;
    height: 100%;
}
.sidebar .sidebar__info ul li {
    height: 12.5%;
    width: 100%;
    transition: 0.3s;
}
.sidebar .sidebar__info ul li:hover {
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.9), rgba(0, 255, 255, 0.5));
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
    transform: scale(1.09);
}
.sidebar .sidebar__info ul li:hover i {
    color: #000;
}
.sidebar .sidebar__info ul li:hover span {
    color:#000;
}
.sidebar .sidebar__info ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    gap: 20px;
    cursor: pointer;
}
.sidebar .sidebar__info ul li  i {
    font-size: 30px;
    color: var(--primary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.sidebar .sidebar__info ul li span {
    width: 100%;
    font-weight: 600;
    color: var(--primary);
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
/* SideBar */

/* Dashboard */
.dashboard {
    color: var(--primary);
    position: absolute;
    right: 0;
    top: 55px;
    bottom: 55px;
    width: 80%;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: 30% 67%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 30px;
    gap: 20px;
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.dashboard .revenue {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.dashboard .revenue i {
    font-size: 30px;
}
.dashboard .revenue p {
    font-size: 25px;
    letter-spacing: 3px;
}
.dashboard .products-db {
    grid-area: 1/3/2/5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    gap: 20px;
}
.dashboard .products-db i {
    font-size: 30px;
}
.dashboard .products-db p {
    font-size: 25px;
    letter-spacing: 3px;
}
.dashboard .users-db {
    grid-area: 1/5/2/7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    gap: 20px;
}
.dashboard .users-db i {
    font-size: 30px;
}
.dashboard .users-db p {
    font-size: 25px;
    letter-spacing: 3px;
}
.dashboard .status__users {
    grid-area: 2/1/3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.dashboard .status__users p {
    font-size: 50px;
}
.dashboard .status__orders {
    grid-area: 2/4/3/7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.dashboard .status__orders p {
    font-size: 50px;
}
/* Dashboard */

/* Users */
.users {
    position: absolute;
    right: 0;
    top: 55px;
    bottom: 55px;
    width: 80%;
    margin-right: 30px;
}
.main__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 50px 50px;
    gap: 50px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.main__overlay .users__list {
    width: 100%;
    height: 65%;
    padding: 30px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.main__overlay .users__list .users__list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 20%;
    width: 100%;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.main__overlay .users__list .users__list-items h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.main__overlay .users__list .users__list-items .users__sort {
    width: 150px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
    text-align: center;
}
.main__overlay .users__list table {
    height: 80%;
    width: 100%;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 15px 0 10px 20px;
}
.main__overlay .users__list table tr {
    text-align: center;
}
.main__overlay .users__list table tr th {
    color: var(--primary);
    font-size: 25px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.main__overlay .users__list table tr td {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.main__overlay .users__list table tr td button {
    padding: 5px 15px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: transparent;
    color: var(--primary);
    font-size: 18px;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}
.main__overlay .users__list table tr td button:hover {
    background-color: var(--primary);
    color: #000;
}
/* Users */


/* Admin */
.main__overlay .admin__list {
    width: 100%;
    height: 35%;
    padding: 30px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.main__overlay .admin__list .admin__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.main__overlay .admin__list .admin__title h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.main__overlay .admin__list .admin__title button {
    font-size: 20px;
    padding: 8px 15px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    border-radius: 10px;
    transition: 0.3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.main__overlay .admin__list .admin__title button:hover {
    transform: scale(1.09);
    background-color: var(--primary);
    color: rgba(0, 0, 0, 0.9);
}
.main__overlay .admin__list table {
    height: 80%;
    width: 100%;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    padding: 15px 0 10px 20px;
}
.main__overlay .admin__list table tr {
    text-align: center;
}
.main__overlay .admin__list table tr th {
    color: var(--primary);
    font-size: 25px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.main__overlay .admin__list table tr td {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.main__overlay .admin__list table tr td button {
    padding: 5px 15px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: transparent;
    color: var(--primary);
    font-size: 18px;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}
.main__overlay .admin__list table tr td button:hover {
    background-color: var(--primary);
    color: #000;
}
/* Admin */




/* products */
.products {
    color: var(--primary);
    position: absolute;
    right: 0;
    top: 55px;
    bottom: 55px;
    width: 80%;
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 30px;
    gap: 20px;
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.products .products__list {
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    
}
.products .products__list .products__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.products .products__list .products__title h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.products .products__list .products__title .products__sort {
    width: 150px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
    text-align: center;
}
.products .products__list .products__title button {
    font-size: 20px;
    padding: 8px 15px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    border-radius: 10px;
    transition: 0.3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.products .products__list .products__title button:hover {
    transform: scale(1.09);
    background-color: var(--primary);
    color: rgba(0, 0, 0, 0.9);
}
.products .products__list table {
    height: 80%;
    width: 100%;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.products .products__list table thead {
    height: 10%;
    width: 100%;
}
.products .products__list table tbody{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 90%;
    width: 100%;
}

.products .products__list table tr {
    text-align: center;
    min-height: 15%;
}

.products .products__list table thead tr th {
    color: var(--primary);
    font-size: 25px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.products .products__list table tbody tr td {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.products .products__list table tbody tr td img {
    height: 90px;
    width: 90px;
    object-fit: cover;
}
.products .products__list table tbody tr td button {
    padding: 5px 15px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: transparent;
    color: var(--primary);
    font-size: 18px;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}
.products .products__list table tbody tr td button:hover {
    background-color: var(--primary);
    color: #000;
}
/* Products */


/* Orders */
.orders {
    color: var(--primary);
    position: absolute;
    right: 0;
    top: 55px;
    bottom: 55px;
    width: 80%;
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 30px;
    gap: 20px;
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.orders .orders__list {
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
    border-radius: 40px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    
}
.orders .orders__list .orders__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.orders .orders__list .orders__title h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.orders .orders__list .orders__title .orders__sort {
    width: 150px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
    text-align: center;
}

.orders .orders__list .orders__title button {
    font-size: 20px;
    padding: 8px 15px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    border-radius: 10px;
    transition: 0.3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.orders .orders__list .orders__title button:hover {
    transform: scale(1.09);
    background-color: var(--primary);
    color: rgba(0, 0, 0, 0.9);
}
.orders .orders__list table {
    height: 80%;
    width: 100%;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.orders .orders__list table thead {
    height: 10%;
    width: 100%;
}
.orders .orders__list table tbody{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 90%;
    width: 100%;
}

.orders .orders__list table tr {
    text-align: center;
}

.orders .orders__list table thead tr th {
    color: var(--primary);
    font-size: 25px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.orders .orders__list table tbody tr td {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.orders .orders__list table tbody tr td button {
    padding: 5px 15px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: transparent;
    color: var(--primary);
    font-size: 18px;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}
.orders .orders__list table tbody tr td button:hover {
    background-color: var(--primary);
    color: #000;
}

/* Active */
.list-sidebar.admin-active {
    color: #000;
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.9), rgba(0, 255, 255, 0.5));
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}
.main-none {
    display: none;
}
.main-none.admin-active {
    display: grid;
}
/* Active */


/* Pagination */
.pagination {
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}
.pagination i {
    cursor: pointer;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 900;
    transition: 0.2s;
}
.pagination i:hover {
    transform: scale(1.5);
    color: #fff;
}
.pagination span {
    cursor: pointer;
    font-size: 30px;
    padding: 0 20px;
    font-weight: 700;
    transition: 0.2s;
}
.pagination span:hover {
    color: #fff;
    transform: scale(1.7);
}

/* Model add products */
.overlay-addProducts {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay-addProducts .model-addProducts {
    width: 40%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 80px 50px;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}
.overlay-addProducts .model-addProducts select,
.overlay-addProducts .model-addProducts input,
.overlay-addProducts .model-addProducts button,
.overlay-addProducts .model-addProducts label {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 16%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--primary);
    font-size: 30px;
    font-weight: 600;
}
.overlay-addProducts .model-addProducts input::placeholder {
    color: var(--primary);
}
.overlay-addProducts .model-addProducts button {
    border: 1px solid var(--primary);
    border-radius: 30px;
    padding: 15px;
}
.overlay-addProducts .model-addProducts button:hover{
    background: linear-gradient(90deg, var(--primary), #9ff1e780);
    color: #000;
    border: 1px solid #fff;
}
/* Model Add Products */



/* Model Update Products */
.overlay-updateProducts {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay-updateProducts .model-updateProducts {
    width: 40%;
    height: 65%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 30px 50px;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.overlay-updateProducts .model-updateProducts select,
.overlay-updateProducts .model-updateProducts input,
.overlay-updateProducts .model-updateProducts button,
.overlay-updateProducts .model-updateProducts label,
.overlay-updateProducts .model-updateProducts h1 {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 10%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--primary);
    font-size: 30px;
    font-weight: 600;
}
.overlay-updateProducts .model-updateProducts h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster Two', sans-serif;
}
.overlay-updateProducts .model-updateProducts input::placeholder {
    color: var(--primary);
}
.overlay-updateProducts .model-updateProducts button {
    border: 1px solid var(--primary);
    border-radius: 30px;
    padding: 15px;
}
.overlay-updateProducts .model-updateProducts button:hover{
    background: linear-gradient(90deg, var(--primary), #9ff1e780);
    color: #000;
    border: 1px solid #fff;
}
/* Model Update Products */


/* Model Order */
.overlay-detailsProducts {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay-detailsProducts .details-titleProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.overlay-detailsProducts .details-titleProducts i,
.overlay-detailsProducts .details-titleProducts h1 {
    font-size: 90px;
    font-weight: 900;
    cursor: pointer;
}
.overlay-detailsProducts .detailsProducts{
    width: 70%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 30px 30px;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.overlay-detailsProducts .detailsProducts li {
    min-height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 30px;
    color: var(--primary);
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    padding-right: 50px;
}
.overlay-detailsProducts .detailsProducts li img {
    object-fit: cover;
    height: 100%;
    width: 25%;
}
.overlay-detailsProducts .detailsProducts li p {
    font-family: 'Lobster Two', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    width: 25%;
    text-align: center;
}
.overlay-detailsProducts .detailsProducts li span {
    font-size: 40px;
}



.overlay-popUpOrder {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay-popUpOrder .popUpUpdateOrder {
    width: 30%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 30px 50px;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.overlay-popUpOrder .popUpUpdateOrder input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary);
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    color: var(--primary);
}
.overlay-popUpOrder .popUpUpdateOrder select {
    width: 70%;
    padding: 10px 10px;
    text-align: center;
    color: var(--primary);
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary);
}
.overlay-popUpOrder .popUpUpdateOrder button {
    width: 70%;
    padding: 15px 10px;
    text-align: center;
    color: var(--primary);
    font-size: 20px;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 20px;
}
.overlay-popUpOrder .popUpUpdateOrder button:hover {
    color: #000;
    border: 1px solid #fff;
    background: linear-gradient(90deg, #00ffee, #1ae6f87b)
}
/* Model Order */



/* Disable */
.opacity {
    opacity: 0.3;
}