header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 0 200px;
    background-color: transparent;
    height: 130px;
    /* display: none; */
}
header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
header .search input {
    padding: 10px 0px 10px 80px;
    width: 100%;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    margin-right: 20px;
}
header .search input::placeholder {
    color: #fff;
}
header .search .search__items i {
    background-color: #fff;
    color: var(--primary);
    font-size: 20px;
    padding: 8px 30px 5px 20px;
    border-radius: 30px;
    position: absolute;
    left: 3px;
    top: 3px;
    bottom: 3px;
}
header .login {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .login button:first-child {
    padding: 10px 30px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    border-radius: 30px;
    margin-right: 20px;
    transition: 0.2s;
}
header .login button:first-child:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    border: 1px solid #FFF;
    transform: scale(1.1);
}
header .login button:last-child {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.3s;
}
header .login button:last-child:hover {
    color: #fff;
    transform: scale(1.2);
}
header .login button:last-child:hover i {
    color: #fff;
}
header .login button:last-child i {
    padding: 9px 9px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: var(--primary);
}
@media (min-width: 768px) and (max-width: 1024px){
    header img {
        display: none;
    }
}
@media (min-width: 540px) and (max-width: 768px){
    header  img {
        display: none;
    }
    header .search{
        display: none;
    }
    header{
        justify-content: flex-end;
    }
}
