main{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.home {
    background-image: url("../assets/images/cake2/1292924.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    flex-direction: column;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: 0.5s;

}
.home .overlay {
    padding: 30px 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    flex-direction: column;
    gap: 40px;
    background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
}

/* Home */
.home .overlay img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.home .overlay h1 {
    font-family: 'Lobster Two', sans-serif;
    font-size: 100px;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 20px 0;
}
.home .overlay h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    letter-spacing: 9px;
    text-transform: uppercase;
    color: var(--primary);
}
.home .overlay p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #FFF;
    width: 60%;
    text-align: center;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.9);
    font-weight: 600;
    margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width:1024px){
    .home .overlay h1 {
        font-size: 80px;
    }
    .home .overlay h4 {
        font-size: 20px
    }
    .home .overlay p {
        font-size: 16px;
        width: 90%;
    }
}
@media (min-width: 540px) and (max-width: 768px){
    .home .overlay h1 {
        font-size: 60px;
    }
    .home .overlay h4 {
        font-size: 20px
    }
    .home .overlay p {
        font-size: 16px;
        width: 90%;
    }
}
/* Home */

/* Sale off */
.saleoff {
    background-image: url("../assets/images/cake2/145-cake-dessert-strawberry-spoon-dark-4k.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    position: relative;
    transition: 0.5s;

}
.saleoff .overlay {
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
}
.saleoff .overlay .sale__group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: 100%;
}
.saleoff .overlay .sale__group .sale1 {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--primary);
    padding: 40px 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.7);
    transition: 0.2s;
    width: 50%;
}
.saleoff .overlay .sale__group .sale1:hover {
    transform: scale(1.09);
    background-color: rgba(0, 0, 0, 0.2);
}
.saleoff .overlay .sale__group .sale1 h1 {
    font-family: 'Lobster Two', sans-serif;
    font-size: 25px;
    color: #fff;
    font-weight: 300;
}
.saleoff .overlay .sale__group .sale1 h2 {
    padding: 30px 0;
    color: var(--primary);
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}
.saleoff .overlay .sale__group .sale1 p {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.9);
}
@media (min-width: 768px) and (max-width: 1024px){
    .saleoff .overlay .sale__group{
        flex-wrap: wrap;
        gap: 30px;
    }
    .saleoff .overlay .sale__group .sale1 {
        width: 100%;
        height: 200px;
    }
    .saleoff .overlay {
        padding: 0 150px;
    }
}
@media (min-width: 540px) and (max-width: 768px){
    .saleoff .overlay .sale__group{
        flex-wrap: wrap;
        gap: 30px;
    }
    .saleoff .overlay .sale__group .sale1 {
        width: 100%;
        height: 200px;
    }
    .saleoff .overlay {
        padding: 0 150px;
    }
    .saleoff .overlay .sale__group .sale1 h1 {
        font-size: 17px;
    }
    .saleoff .overlay .sale__group .sale1 h2 {
        font-size: 23px;
        padding: 20px;
    }
    .saleoff .overlay .sale__group .sale1 p {
        font-size: 13px;
    }
}
/* Sale off */

/* About us */
.about {
    background-image: url("../assets/images/cake2/choco-cake-food.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    position: relative;
    transition: 0.5s;

}
.about .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    background: linear-gradient(90deg, rgba(0,0,0,0.9), rgba(0,0,0,0.5));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.about .overlay .about__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    flex: 1;
    gap: 50px;
    padding: 120px 20px 0 200px;
}
.about .overlay .about__top .about__us {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.about .overlay .about__top .about__us h1 {
    width: 100%;
    height: 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 500px;
    color: var(--primary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.about .overlay .about__top .about__us .middle {
    width: 100%;
    height: 80%;
}
.about .overlay .about__top .about__us .middle li:nth-child(even) {
    width: 100%;
    min-height: 20%;
}
.about .overlay .about__top .about__us .middle li p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.about .overlay .about__top .about__us .middle .devide {
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    margin: 20px 0;
}
.about .overlay .about__top .about__us .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 10%;
    width: 100%;
}
.about .overlay .about__top .about__us .bottom li {
    text-align: center;
    color: var(--primary);
}
.about .overlay .about__top .about__us .bottom li h6 {
    font-weight: 400;
    font-size: 20px;
    color: var(--primary);
}


.about .overlay .about__top .ourteam {
    width: 60%;
    height: 100%;
}
.about .overlay .about__top .ourteam h1 {
    width: 100%;
    height: 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 500px;
    margin-bottom: 20px;
    color: var(--primary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.about .overlay .about__top .ourteam .ourteam__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 90%;
}
.about .overlay .about__top .ourteam .ourteam__group figure {
    width: 46%;
    height: 40%;
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--primary);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
}
.about .overlay .about__top .ourteam .ourteam__group figure img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.about .overlay .about__top .ourteam .ourteam__group figure figcaption {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
.about .overlay .about__top .ourteam .ourteam__group figure figcaption h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}
.about .overlay .about__top .ourteam .ourteam__group figure figcaption h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

.about .overlay .about__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 20px 200px 10px 200px;
}
.about .overlay .about__footer .about__footer-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.about .overlay .about__footer .about__footer-contact h1 {
    font-family: 'Lobster Two', sans-serif;
    font-size: 25px;
    color: var(--primary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
}
.about .overlay .about__footer .about__footer-contact p {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.about .overlay .about__footer .about__footer-contact .ab-icon {
    display: flex;
    align-items: center;
}
.about .overlay .about__footer .about__footer-contact .ab-icon p {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}
.about .overlay .about__footer .about__footer-contact .ab-icon i {
    font-size: 20px;
    color: var(--primary);
    margin-right: 10px;
}
.about .overlay .about__footer .about__footer-subcribe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.about .overlay .about__footer .about__footer-subcribe .about__footer-write {
    width: 300px;
    position: relative;
}
.about .overlay .about__footer .about__footer-subcribe .about__footer-write input {
    width: 100%;
    padding: 10px 0 10px 10px;
    border-radius: 40px;
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
}
.about .overlay .about__footer .about__footer-subcribe .about__footer-write input::placeholder {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.about .overlay .about__footer .about__footer-subcribe .about__footer-write button {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    background-color: var(--primary);
    border-radius: 40px;
    border: none;
    color: #000;
    padding: 0 10px;
    font-size: 12px;
    transition: 0.3s;
}
.about .overlay .about__footer .about__footer-subcribe .about__footer-write button:hover {
    transform: scale(1.09);
}
.about .overlay .about__footer .about__footer-subcribe .footer__icon {
    display: flex;
    align-items: center;
    gap: 15px;
}
.about .overlay .about__footer .about__footer-subcribe .footer__icon i {
    font-size: 30px;
    color: var(--primary);
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}
.about .overlay .about__footer .about__footer-subcribe .footer__icon i:hover {
    transform: scale(1.5);
}
.about .overlay .about__footer .about__footer-subcribe p {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
/* About */

/* Dots */
.home__dots {
    position: fixed;
    bottom: 50px;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 100;
    width: 30%;
}
.home__dots .home__dot {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--primary);
}
.home__dot.active {
    background-color: var(--primary);
}
.item__active {
    display: none;
}
.item__active.active {
    display: block;
}

@media (min-width: 768px) and (max-width: 1024px){
    .home__dots .home__dot{
        width: 18px;
        height: 18px;
    }
}
@media (min-width: 540px) and (max-width: 768px){
    .home__dots .home__dot{
        width: 15px;
        height: 15px;
    }
}