body {
    background-image: url("../../../assets/images/cake2/MERVEILLEINDIVCARRE_15aec686-1866-478b-aa66-d8ed2fb6f442_1240x1240.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.cart__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(52, 52, 52, 0.7), rgba(87,87,87,0.2))
}
.cart__overlay main {
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 20px;
}
.cart__top {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.cart__top .cart__top-title {
    height: 10%;
    width: 100%;
    color: var(--primary);
}
.cart__top .cart__top-title h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: var(--primary);
    cursor: pointer;
}
.cart__top .cart__top-title p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.cart__top .cart__top-products {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.cart__top .cart__top-products .empty__cart {
    width: 300px;
    height: 400px;
}
.cart__top .cart__top-products ul {
    height: 80%;
    width: 100%;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.cart__top .cart__top-products ul::-webkit-scrollbar{
    display: none;
}
.cart__top .cart__top-products ul li {
    min-height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding-right: 30px;
    border-radius: 30px;
    overflow: hidden;
}
.cart__top .cart__top-products ul li img {
    object-fit: cover;
    height: 100%;
    width: 25%;
}
.cart__top .cart__top-products ul li p,
.cart__top .cart__top-products ul li .cart__quantity,
.cart__top .cart__top-products ul li .cart__quantity span,
.cart__top .cart__top-products ul li i {
    width: 25%;
    text-align: center;
}
.cart__top .cart__top-products ul li p {
    font-family: 'Lobster Two', sans-serif;
    font-size: 30px;
}
.cart__top .cart__top-products ul li .cart__quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cart__top .cart__top-products ul li .cart__quantity span{
    font-size: 30px;
    width: 25px;
    margin-right: 20px;
}
.cart__top .cart__top-products ul li .cart__quantity button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
    transition: 0.3s;
}
.cart__top .cart__top-products ul li .cart__quantity button:hover {
    background: linear-gradient(90deg, var(--primary), rgba(17, 194, 179, 0.192));
    color: #fff;
    transform: scale(1.09);
}
.cart__top .cart__top-products ul li i {
    font-size: 35px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}
.cart__top .cart__top-products ul li i:hover {
    color: #fff;
    transform: scale(1.3);
}
.cart__top .cart__top-products ul li  p:last-child {
    color: var(--primary);
    font-size: 30px;
}


.cart__top .cart__top-products .cart__top-voucher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 10%;
}
.cart__top .cart__top-products .cart__top-voucher input {
    padding: 10px 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
}
.cart__top .cart__top-products .cart__top-voucher input::placeholder {
    color: #ffffffc7;
}
.cart__top .cart__top-products .cart__top-voucher button {
    padding: 10px 30px;
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 20px;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.cart__top .cart__top-products .cart__top-voucher button:hover {
    background: linear-gradient(90deg, var(--primary), rgba(17, 194, 179, 0.192));
    color: #fff;
    transform: scale(1.05);
}


.cart__bottom {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.cart__bottom .cart__bottom-title h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: var(--primary);
}
.cart__bottom table {
    width: 100%;
    color: var(--primary);
}
.cart__bottom table tr:first-child {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.cart__bottom table tr:last-child {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.cart__bottom table tr td:last-child {
    text-align: end;
}
.cart__bottom button {
    padding: 15px 0;
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 20px;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    text-transform: uppercase;
}
.cart__bottom button:hover {
    background: linear-gradient(90deg, var(--primary), rgba(17, 194, 179, 0.192));
    color: #fff;
    transform: scale(1.05);
}

/* Popup */
.popup__cart-delete {
    position: absolute;
    top: 30%;
    right: 40%;
    width: 350px;
    height: 200px;
    padding: 10px 20px;
    background-color: #000;
    border: 1px solid var(--primary);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    display: none;
}
.popup__cart-delete .popup__cart-delete-btn {
    display: flex;
    align-items: center;
    gap: 40px;
}
.popup__cart-delete .popup__cart-delete-btn button {
    width: 60px;
    height: 40px;
    font-size: 18px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: var(--primary);
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.7);
}
.popup__cart-delete .popup__cart-delete-btn button:hover {
    background-color: transparent;
    color: #fff;
}